.forms {
  padding: 50px 15px 40px; }

.form-tital {
  text-align: center;
  color: #4a4a4a; }
  .form-tital h1 {
    margin-bottom: 0;
    font-size: 37px;
    line-height: 52px; }
  .form-tital span {
    font-size: 15px; }
  .form-tital p {
    max-width: 540px;
    line-height: 21px;
    font-size: 15px;
    margin: 15px auto 36px; }
  .form-tital button {
    width: 300px;
    height: 44px;
    border: solid 1px #4a4a4a;
    margin: 0 18px;
    cursor: pointer; }
@media(max-width:860px) {
  .form-tital button {
    margin-bottom: 8px; } }
.form-list {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 43px 0 0; }
@media(max-width: 600px) {
  .form-list {
    width: 100%; } }
.list-box {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap; }
@media(max-width:600px) {
  .list-box {
    margin-bottom: 10px; } }
@media(max-width:600px) {
  .list-box:nth-child(1) {
    margin-bottom: 0; } }
.list-box-left {
  padding: 0 15px;
  text-align: right;
  position: relative;
  width: 100%;
  min-height: 1px;
  -ms-flex: 0 0 100%;
  flex: 0 0 25%;
  max-width: 25%; }
  .list-box-left h6 {
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 0; }
  .list-box-left p {
    margin: 13px 0 0;
    font-size: 15px;
    color: #4a4a4a; }
  .list-box-left span {
    color: #fd4c5e; }
@media(max-width:600px) {
  .list-box-left {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left;
    margin-bottom: 8px; } }
.list-box-right {
  position: relative;
  padding: 0 30px 0 45px;
  width: 75%;
  text-align: left;
  width: 100%;
  min-height: 1px;
  -ms-flex: 0 0 100%;
  flex: 0 0 75%;
  max-width: 75%; }
@media(max-width:600px) {
  .list-box-right {
    padding: 0 15px; } }
  .list-box-right:hover span {
    display: block; }
  .list-box-right input {
    width: 346px;
    height: 46px;
    border: solid 1px #dbdbdb;
    color: #4a4a4a;
    text-indent: 10px; }
@media(max-width:600px) {
  .list-box-right input {
    width: 100%; } }
  .list-box-right input::-webkit-input-placeholder {
    color: #dbdbdb; }
  .list-box-right input:-moz-placeholder {
    color: #dbdbdb; }
  .list-box-right input:-ms-input-placeholder {
    color: #dbdbdb; }
  .list-box-right span {
    position: absolute;
    bottom: -18px;
    left: 45px;
    color: #fd4c5e;
    font-size: 12px;
    display: none; }
@media(max-width:600px) {
  .list-box-right span {
    top: -25px;
    left: 100px; } }
  .list-box-right textarea {
    width: 100%;
    height: 165px;
    border: 1px solid #dbdbdb;
    color: #4a4a4a;
    padding: 10px; }
  .list-box-right textarea::-webkit-input-placeholder {
    color: #dbdbdb; }
  .list-box-right textarea:-moz-placeholder {
    color: #dbdbdb; }
  .list-box-right textarea:-ms-input-placeholder {
    color: #dbdbdb; }
@media(max-width:600px) {
  .list-box-right {
    flex: 0 0 100%;
    max-width: 100%; } }
.haveto:hover {
  border: solid 1px #fd4c5e; }

.checkbox {
  display: flex;
  margin-bottom: 20px; }
  .checkbox p {
    font-size: 15px;
    width: 150px;
    margin: 0 0 0 20px;
    color: #4a4a4a; }

.checkbox:nth-last-child(1) {
  margin-bottom: 0; }

.check {
  width: 20px;
  height: 20px;
  border: solid 1px #dbdbdb;
  cursor: pointer; }

.checkback {
  background-image: url(../img/check.png);
  background-size: contain; }

.bounce {
  position: fixed;
  padding: 238px 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.15);
  display: none; }
@media(max-width:600px) {
  .bounce {
    padding: 151px 30px 186px; } }
.pushbox {
  color: #4a4a4a;
  display: block;
  margin: 0 auto;
  padding: 36px;
  background-color: #fff;
  width: 807px;
  height: auto;
  padding: 62px 200px;
  text-align: center; }
  .pushbox h5 {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 34px; }
  .pushbox p {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 33px; }
  .pushbox button {
    width: 200px;
    height: 44px;
    border: 1px solid #4a4a4a;
    cursor: pointer; }
@media(max-width:600px) {
  .pushbox {
    width: 100%;
    padding: 45px 58px; } }
.notice {
  background-color: #fbfbfb;
  width: 100%;
  max-width: 1440px;
  text-align: center;
  padding: 52px 15px 60px;
  margin: 0 auto 100px;
  margin-bottom: 100px; }
@media(max-width:600px) {
  .notice {
    margin-bottom: 60px; } }
  .notice h3 {
    font-size: 37px;
    line-height: 52px;
    margin-bottom: 7px; }
@media(max-width:600px) {
  .notice h3 {
    font-size: 25px; } }
  .notice h5 {
    margin-bottom: 26px;
    line-height: 24px;
    font-size: 17px;
    color: #4a4a4a s; }

.notice-box {
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 36px 0;
  margin: 0 auto;
  margin-bottom: 16px; }
@media(max-width:600px) {
  .notice-box {
    max-width: 100%;
    padding: 22px 29px;
    margin-bottom: 16px; } }
.notice-contant {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative; }

.notice-contant-left {
  position: relative;
  width: 100%;
  min-height: 1px;
  flex: 0 0 15%;
  max-width: 15%;
  border-right: 1px solid #dbdbdb;
  text-align: left;
  padding: 0 33px; }
  .notice-contant-left p {
    font-size: 15px;
    margin-bottom: 0;
    color: #4a4a4a;
    margin-bottom: 23px; }
@media(max-width:600px) {
  .notice-contant-left {
    flex: 0 0 100%;
    max-width: 100%;
    border-right: 0;
    border-bottom: 1px solid #dbdbdb;
    padding: 0;
    margin-bottom: 23px; } }
.notice-contant-right {
  text-align: left;
  position: relative;
  width: 100%;
  min-height: 1px;
  flex: 0 0 85%;
  max-width: 85%;
  padding: 0 40px;
  height: auto; }
  .notice-contant-right p {
    color: #4a4a4a;
    font-size: 15px;
    margin-bottom: 16px; }
  .notice-contant-right span {
    color: #fd4c5e; }
@media(max-width:600px) {
  .notice-contant-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; } }
.notice-process-right {
  width: 100%;
  min-height: 1px;
  flex: 0 0 85%;
  max-width: 85%;
  padding: 0 40px;
  height: auto; }
  .notice-process-right img {
    margin: 20px auto;
    transform: translateX(-45%); }
@media(max-width:600px) {
  .notice-process-right img {
    margin: 0 auto;
    transform: none; } }
@media(max-width:600px) {
  .notice-process-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; } }

/*# sourceMappingURL=contact.css.map */
