.footer-wrapper {
  width: 100%;
  background-color: #fbfbfb; }

.footer {
  max-width: 1440px;
  margin: 0 auto; }

.footer-top {
  width: 100%; }

.footer-main {
  background-color: #fbfbfb;
  padding: 20px 0; }
@media(max-width:600px) {}
.footer-logo {
  text-align: center;
  padding: 85px 0 95px;
  border-right: solid 0.5px #dbdbdb; }
@media(max-width:600px) {
  .footer-logo {
    border-right: 0;
    border-bottom: solid 0.5px #dbdbdb;
    margin: 0 30px; } }
.footer-map {
  height: 250px;
  border-right: solid 0.5px #dbdbdb; }
@media(max-width:600px) {
  .footer-map {
    border-right: 0;
    border-bottom: solid 0.5px #dbdbdb;
    text-align: center;
    margin: 0 30px; } }
  .footer-map p {
    font-size: 15px;
    color: #4a4a4a;
    margin-bottom: 0; }
  .footer-map button {
    font-size: 15px;
    width: 130px;
    height: 44px;
    border: solid 1px #4a4a4a;
    color: #4a4a4a;
    cursor: pointer;
    background-color: #fff; }
@media(max-width: 600px) {
  .footer-map button {
    width: 315px;
    height: 44px; } }
.area2 {
  padding-top: 40px;
  padding-left: 55px !important; }
@media(max-width: 900px) {
  .area2 {
    padding: 40px 0 0 !important;
    position: relative;
    width: 100%;
    min-height: 1px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; } }
@media(max-width: 600px) {
  .area2 {
    padding: 36px 0 0 !important; } }
.area1 {
  text-align: center;
  padding-top: 40px;
  padding-right: 55px !important;
  text-align: right; }
@media(max-width: 900px) {
  .area1 {
    padding: 15px 0 !important;
    position: relative;
    width: 100%;
    min-height: 1px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; } }
.area3 {
  padding-top: 45px;
  padding-left: 55px !important; }
@media(max-width: 900px) {
  .area3 {
    padding: 10px 0 0 !important;
    position: relative;
    width: 100%;
    min-height: 1px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; } }
.footer-phone {
  height: 250px;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }
@media(max-width:600px) {
  .footer-phone {
    text-align: center; } }
  .footer-phone button {
    width: 290px;
    height: 43.3px;
    border: solid 1px #4a4a4a;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 17px; }
@media(max-width:900px) {
  .footer-phone button {
    width: 180px; } }
@media(max-width:600px) {
  .footer-phone button {
    width: 315px; } }
.phone-contant {
  width: 290px;
  margin: 0 auto 17px;
  text-align: left;
  padding: 40px 0 0; }
  .phone-contant p {
    color: #4a4a4a;
    margin-bottom: 0;
    font-size: 15px; }
@media(max-width:900px) {
  .phone-contant {
    width: 180px; } }
@media(max-width:600px) {
  .phone-contant {
    width: 315px;
    text-align: center; } }
.footer-bottom {
  background-color: #fbfbfb; }
@media(max-width:600px) {}
.footer-tag {
  padding: 30px 0 70px;
  margin: 0 50px;
  border-top: solid 0.5px #dbdbdb; }
@media(max-width:600px) {
  .footer-tag {
    margin: 0 30px; } }
  .footer-tag p {
    margin-bottom: 0;
    font-size: 13px; }

.tag {
  display: flex;
  justify-content: space-between; }
@media(max-width: 600px) {
  .tag {
    flex-direction: column-reverse;
    text-align: center; } }
.icon a {
  text-decoration: none;
  color: #4a4a4a;
  margin-left: 36px; }
@media(max-width: 600px) {
  .icon a {
    margin: 0 18px; } }
.icon i {
  font-size: 15px;
  font-weight: bold;
  text-align: right; }
@media(max-width: 600px) {
  .icon {
    text-align: center;
    margin-bottom: 60px; } }
.footer-wrapper-land {
  margin-top: -200px;
  width: 100%;
  background-color: #fbfbfb; }

.index-footer-wrapper {
  margin-top: -200px;
  width: 100%;
  background-color: #fbfbfb;
  display: none; }

/*# sourceMappingURL=footer.css.map */
