.plan-main {
  padding: 10px 75px 140px; }
@media(max-width:600px) {
  .plan-main {
    padding: 0 15px 40px; } }
.general-plan {
  text-align: center;
  padding: 50px 0 0; }
@media(max-width:600px) {
  .general-plan {
    padding: 36px 0 0; } }
  .general-plan h3 {
    font-size: 37px;
    line-height: 52px;
    color: #4a4a4a;
    margin-bottom: 50px; }
@media(max-width:600px) {
  .general-plan h3 {
    margin-bottom: 16px; } }
.plan-g, .plan-d {
  background-color: #fff;
  padding: 0 25px 20px;
  position: relative;
  width: 100%;
  height: 480px;
  min-height: 1px;
  -ms-flex: 0 0 100%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }
@media(max-width:900px) {
  .plan-g, .plan-d {
    flex: 0 0 50%;
    max-width: 50%; } }
@media(max-width:600px) {
  .plan-g, .plan-d {
    flex: 0 0 100%;
    max-width: 100%; } }
.plan-g-box, .plan-d-box {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  padding: 236px 0 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/plan1.png);
  background-repeat: no-repeat;
  background-size: 380px 236px;
  background-position: 50% 0; }
  .plan-g-box h5, .plan-d-box h5 {
    font-size: 20px;
    margin: 20px 0 0;
    line-height: 28px;
    color: #4a4a4a; }
  .plan-g-box p, .plan-d-box p {
    color: #4a4a4a;
    font-size: 15px;
    line-height: 21px;
    margin: 5px 0 12px; }
  .plan-g-box h3, .plan-d-box h3 {
    margin: 12px 0 0;
    opacity: 0.98;
    line-height: 35px;
    font-size: 25px;
    color: #66b510; }
  .plan-g-box span, .plan-d-box span {
    font-size: 15px; }
  .plan-g-box button, .plan-d-box button {
    width: 187px;
    height: 54px;
    border: solid 1px #4a4a4a;
    cursor: pointer;
    color: #4a4a4a;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); }

.dresspack-plan {
  text-align: center; }
  .dresspack-plan h3 {
    font-size: 37px;
    line-height: 52px;
    color: #4a4a4a;
    margin: 50px 0 50px; }

.plan-d-box {
  background-image: url(../img/group-4@2x.png); }
  .plan-d-box h5 {
    margin: 50px 0 0px; }

.bounce {
  position: fixed;
  padding: 107px 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.15);
  display: none; }
@media(max-width:600px) {
  .bounce {
    padding: 0 20px; } }
.planinfo-g, .planinfo-d {
  display: none;
  margin: 0 auto;
  padding: 36px;
  width: 807px;
  max-height: 100%;
  background-color: #fff;
  display: block;
  overflow-y: scroll; }
@media(max-width:600px) {
  .planinfo-g, .planinfo-d {
    width: 100%; } }
.info-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb; }
  .info-header h5 {
    font-size: 25px;
    color: #4a4a4a;
    margin-bottom: 5px; }
@media(max-width:600px) {
  .info-header h5 {
    width: 180px; } }
  .info-header p {
    color: #4a4a4a;
    cursor: pointer;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 0; }
  .info-header span {
    margin-left: 20px; }
@media(max-width:600px) {
  .info-header span {
    margin-left: 10px; } }
.info-main {
  display: flex;
  flex-wrap: wrap; }

.info-plan, .info-details {
  padding: 0 23px 0 0;
  position: relative;
  width: 100%;
  min-height: 1px;
  -ms-flex: 0 0 100%;
  flex: 0 0 42%;
  max-width: 42%; }
  .info-plan button, .info-details button {
    cursor: pointer;
    width: 100%;
    height: 44px;
    background-color: #4a4a4a;
    border: solid 1px #4a4a4a;
    color: white;
    z-index: 500; }
@media(max-width:600px) {
  .info-plan, .info-details {
    flex: 0 0 100%;
    max-width: 100%; } }
.info-plan-box {
  position: relative;
  text-align: left;
  padding: 17px 0;
  border-bottom: 1px solid #dbdbdb; }
  .info-plan-box h6 {
    color: #4a4a4a;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 5px; }
  .info-plan-box h3 {
    color: #4a4a4a;
    margin-bottom: 16px;
    line-height: 38px;
    opacity: 0.98;
    color: #66b510;
    font-size: 28px; }
  .info-plan-box p {
    color: #4a4a4a;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px; }

.info-plan-box:nth-last-child(1) {
  border: 0; }

.info-details {
  flex: 0 0 58%;
  max-width: 58%;
  padding: 17px 0 0; }
@media(max-width: 600px) {
  .info-details {
    flex: 0 0 100%;
    max-width: 100%; } }
.info-details-box {
  background-color: #fbfbfb;
  padding: 30px;
  min-height: 445px; }

.details {
  margin-bottom: 60px; }
  .details h5 {
    margin-bottom: 16px;
    line-height: 24px;
    font-size: 17px;
    color: #4a4a4a;
    font-weight: bold; }
  .details p {
    margin-bottom: 0;
    color: #4a4a4a;
    line-height: 23px;
    font-size: 15px; }

.note {
  margin-bottom: 7px;
  font-size: 0;
  position: relative; }
  .note i {
    transform: rotate(45deg);
    font-size: 7.3px;
    color: #4a4a4a;
    margin-bottom: 0;
    display: inline-block;
    position: absolute;
    top: 5px; }
  .note p {
    margin-bottom: 0;
    line-height: 18px;
    display: inline-block;
    font-size: 13px;
    width: 100%;
    padding: 0 20px;
    color: #4a4a4a; }

/*# sourceMappingURL=plan.css.map */
