.wrapper
  position: relative
  margin: 0
  height: auto!important
  height: 100vh
  min-height: 100vh
  overflow: hidden
  width: 100%
  // max-width: 1440px
  margin: 0 auto

.wrapper-next
  position: relative
  margin: 0
  height: auto!important
  height: 100vh
  min-height: 100vh
  width: 100%
  // max-width: 1440px
  margin: 0 auto
  // overflow: hidden


.wrapper-logo
  position: absolute
  top: 45px
  left: 6%
  z-index: 250
  width: 220px
  height: 95px
  opacity: 0
  animation-name: fade-in
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-fill-mode : forwards
  img
    width: 100%
    height: 100%
  @media(max-width:600px)
    left: 50%
    transform: translateX(-50%)

.wrapper-logo-next
  @extend .wrapper-logo
  opacity: 1
  animation-name: left-out
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 300ms
  animation-fill-mode : forwards
  -webkit-animation-name: left-out
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 300ms
  -webkit-animation-fill-mode : forwards
  @media(max-width:600px)
    animation-name: fade-out
    animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
    animation-duration: 300ms
    animation-fill-mode : forwards
    -webkit-animation-name: fade-out
    -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
    -webkit-animation-duration: 300ms
    -webkit-animation-fill-mode : forwards

.wrapper-context
  position: absolute
  top: 175px
  right: 6%
  z-index: 250
  background-color: #fff
  padding: 33px 33px 20px
  width: 388px
  display: block
  opacity: 0
  animation-name: fade-in
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 1800ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 1800ms
  -webkit-animation-fill-mode : forwards
  @media(max-width:600px)
    display: none
  h3
    font-size: 21px
    color: #4a4a4a
    margin-bottom: 20px
  span
    font-style: italic
  p
    font-size: 14px
    line-height: 2.36
    color: #4a4a4a
    margin-bottom: 40px

.wrapper-context-next
  position: absolute
  top: 175px
  right: 80px
  z-index: 250
  background-color: #fff
  padding: 33px 33px 20px
  width: 388px
  display: block
  opacity: 1
  animation-name: right-out
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 300ms
  animation-delay: 0ms
  animation-fill-mode : forwards
  -webkit-animation-name: right-out
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 300ms
  -webkit-animation-delay: 0ms
  -webkit-animation-fill-mode : forwards
  @media(max-width:600px)
    -webkit-animation-play-state: paused
    animation-play-state: paused
    display: none

.wrapper-btn
  position: absolute
  z-index: 250
  bottom: 45px
  left: 50%
  transform: translateX(-50%)
  opacity: 0
  cursor: pointer
  width: 75px
  height: 75px
  background-image: url(../img/scroll-btn.png)
  background-size: cover
  background-repeat: no-repeat
  animation-name: fade-in
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 1800ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 1800ms
  -webkit-animation-fill-mode : forwards
  &:hover
    background-image: url(../img/scroll-btn-hover.png)

.wrap-touch-bar
  width: 100%
  height: 100vh
  position: absolute
  opacity: 0
  z-index: 230
  display: block
  @media(max-width:600px)
    display: none

//header

.header-first
  position: absolute
  top: -160px
  background-color: #FFF
  z-index: 250
  width: 100%

  text-align: right
  height: 160px
  @media(max-width:860px)
    height: 80px

.header-next
  position: absolute
  top: -160px
  background-color: #fff
  z-index: 250
  width: 100%
  text-align: right
  height: 160px
  animation-name: moveheader
  // animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 300ms
  animation-fill-mode : forwards
  -webkit-animation-name: moveheader
  // -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 300ms
  -webkit-animation-fill-mode : forwards
  @media(max-width:860px)
    height: 80px
    position: fixed

.header-top
  position: absolute
  top: 0px
  background-color: #fff
  z-index: 251
  width: 100%
  // max-width: 1440px
  text-align: right
  @media(max-width:860px)
    position: fixed

.header-down
  @extend .header-next
  position: fixed
  height: 80px
  z-index: 251
  width: 100%
  // max-width: 1440px
  animation-delay: 0ms
  -webkit-animation-delay: 0ms
  img
    transform: scale(0.7)
    transform-origin: 0 50%

@keyframes moveheader
  0%
    top: -160px
  100%
    top: 0

.header-down > .container-fluid > .menu
  height: 80px
  padding: 0 45px
  @media(max-width:600px)
    padding: 0 15px


.header-down > .container-fluid > .menu-button
  top: 25px

.header-down > .container-fluid > .menu-button-close
  top: 25px

.header-next > .container-fluid > .menu
  @media(max-width:860px)
    height: 80px
    padding: 0 45px
  @media(max-width:600px)
    padding: 0 15px

.header-next > .container-fluid > .menu-button
  @media(max-width:860px)
    top: 25px

.header-next > .container-fluid > .menu-button-close
  @media(max-width:860px)
    top: 25px

.header-top > .container-fluid > .menu
  @media(max-width:860px)
    height: 80px
    padding: 0 45px
  @media(max-width:600px)
    padding: 0 15px

.header-top > .container-fluid > .menu-button
  @media(max-width:860px)
    top: 25px

.header-top > .container-fluid > .menu-button-close
  @media(max-width:860px)
    top: 25px


.menu
  height: 160px
  padding: 40px 45px
  @media(max-width: 600px)
    padding: 40px 15px

.logo
  position: absolute
  display: block
  height: 80px
  cursor: pointer
  z-index: 201
  text-align: left
  img
    height: 100%
    @media(max-width:860px)
      transform: scale(0.7)
      transform-origin: 0 50%


.menu-list
  width: auto
  position: relative
  text-align: right
  height: 80px
  padding: 25px 0
  display: block
  a
    cursor: pointer
    text-align: center
    color: #4a4a4a
    width: 90px
    padding: 10px 0
    margin-left: 20px
    font-size: 17px
    line-height: 20px
    text-decoration: none !important
    &:hover
      color: #4a4a4a

  a:nth-child(4)
    width: 180px
    padding: 10px
    font-size: 17px
    line-height: 20px
    color: #4a4a4a
    border: 1px solid #4a4a4a
    @media(min-width:860px)
      &:hover
        color: #fff
  @media(max-width:860px)
    position: fixed
    text-align: center
    background: #FFF
    width: 100%
    height: 100vh
    left: 0
    display: none
    padding: 0
    top: 80px
    a
      width: 100%
      margin: 0
      font-size: 20px
      padding: 30px
    a:nth-child(4)
      display: inline-block
      font-size: 20px
      width: 100%
      border: 0
      padding: 30px

.menu-element
  @media(max-width:860px)
    position: absolute
    width: 100%
    top: 40%
    transform: translateY(-50%)

.menu-list-in
  animation-name: fade-in
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 300ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 300ms
  -webkit-animation-fill-mode : forwards
  @extend .menu-list

  @media(max-width:860px)
    display: block


.menu-list-out
  animation-name: fade-out
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 300ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-out
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 300ms
  -webkit-animation-fill-mode : forwards
  @extend .menu-list
  @media(max-width:860px)
    display: block


//hanbuger item no hover
// .menu-list-in > .cmenu-element > .hvr-underline-from-center
//
// .menu-list-in > .cmenu-element > .white-black

.menu-button
  width: 36px
  display: none
  position: absolute
  right: 60px
  top: 65px
  height: 36px
  background-image: url(../img/menu@2x.png)
  background-repeat: no-repeat
  cursor: pointer
  -webkit-transition: .3s
  transition:  .3s
  @media(max-width: 600px)
    right: 30px
  @media(max-width:860px)
    display: block

.menu-button-close
  width: 36px
  display: none
  position: absolute
  right: 60px
  top: 65px
  height: 36px
  background-image: url(../img/group@2x.png)
  background-repeat: no-repeat
  cursor: pointer
  -webkit-transition: .3s
  transition:  .3s
  @media(max-width: 600px)
    right: 30px
  @media(max-width:860px)
    display: block

.video-wrapper-first
  // display: flex
  position: relative
  // min-height: 100vh
  opacity: 0
  z-index: 200
  height: 100vh
  width: 100%
  // width : calc(100vh / 9 * 16)
  // overflow: hidden
  // max-width: 1440px
  animation-name: fade-in
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 1000ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 1000ms
  -webkit-animation-fill-mode : forwards
  @media(min-width:1440px)
    height: calc(100vw / 16 * 9)
    width : 100%
  iframe
    position: absolute
    padding: 0 0
    align-items: stretch
    // min-height: 100vh
    // min-width: 100%
    // width: 100vw
    height: 100vh
    // width: 100%
    width : calc(100vh / 9 * 16)
    // max-width: 1440px
    left: 50%
    transform: translateX(-50%)
    @media(min-width:1440px)
      height: calc(100vw / 16 * 9)
      width : 100vw
  embed

    position: absolute
    padding: 0 0
    align-items: stretch
    // min-height: 100vh
    // min-width: 100%
    // width: 100vw
    height: 100vh
    // width: 100%
    width : calc(100vh / 9 * 16)
    // max-width: 1440px
    left: 50%
    transform: translateX(-50%)
    @media(min-width:1440px)
      height: calc(100vw / 16 * 9)
      width : 100vw

.video-wrapper-next
  // max-width: 1440px
  position: relative
  height: 100vh
  width: 100%
  z-index: 200
  overflow: hidden
  @media(min-width:1440px)
    height: calc(100vw / 16 * 9)
    width : 100%

  iframe
    position: absolute
    padding: 0 0
    // min-height: 100vh
    // min-width: 100%
    // height: 100vh
    // width : 100vw
    height: 100vh
    width : calc(100vh / 9 * 16)
    // min-width: 1440px
    left: 50%
    transform: translateX(-50%)
    @media(min-width:1440px)
      height: calc(100vw / 16 * 9)
      width : 100vw

.cloth-left
  position: absolute
  background-color: #FFF
  width: 60px
  height: 100%
  z-index: 250
  left: -60px

.cloth-right
  @extend .cloth-left
  right: -60px

.cloth-left-on
  position: absolute
  background-color: #FFF
  width: 60px
  height: 100vh
  z-index: 250
  left: -60px
  animation-name: movecloth-left
  // animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 300ms
  animation-fill-mode : forwards
  -webkit-animation-name: movecloth-left
  // -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 300ms
  -webkit-animation-fill-mode : forwards
  @media(max-width: 600px)
    width: 30px

.cloth-right-on
  position: absolute
  background-color: #FFF
  width: 60px
  height: 100vh
  z-index: 250
  right: -60px
  animation-name: movecloth-right
  // animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 300ms
  animation-fill-mode : forwards
  -webkit-animation-fill-mode : forwards
  -webkit-animation-name: movecloth-right
  // -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 300ms
  @media(max-width: 600px)
    width: 30px

@keyframes movecloth-left
  0%
    left: -60px

  100%
    left: 0

@keyframes movecloth-right
  0%
    right : -60px
  100%
    right: 0


@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes left-out
  0%
    left: 6%
    opacity: 1
  80%
    opacity: 0
  100%
    left: -220px
    opacity: 0

@keyframes right-out
  0%
    right: 6%
    opacity: 1

  80%
    opacity: 0

  100%
    right: -388px
    opacity: 0
