
.wrapper
  position: relative
  margin: 0
  height: auto!important
  height: 100vh
  min-height: 100vh
  overflow: hidden
  width: 100%
.wrapper-next
  position: relative
  margin: 0
  height: auto!important
  height: 100vh
  min-height: 100vh
  // overflow: hidden
  width: 100%

.wrapper-logo
  position: absolute
  top: 45px
  left: 80px
  z-index: 50
  width: 220px
  height: 95px
  opacity: 0
  animation-name: fade-in
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-fill-mode : forwards

  img
    width: 100%
    height: 100%
  @media(max-width:600px)
    left: 50%
    transform: translateX(-50%)

.wrapper-context
  position: absolute
  top: 175px
  right: 80px
  z-index: 50
  background-color: #fff
  padding: 33px
  width: 388px
  display: block
  opacity: 0
  animation-name: fade-in
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 1800ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 1800ms
  -webkit-animation-fill-mode : forwards
  @media(max-width:600px)
    display: none
  h3
    font-size: 21px
    color: #4a4a4a
  span
    font-style: italic
  p
    font-size: 14px
    line-height: 2.36
    color: #4a4a4a



.header-first
  position: absolute
  top: -200px
  background-color: #FFF
  z-index: 50
  width: 100%
  text-align: right
  height: 150px

.header-next
  position: fixed
  top: 0px
  background-color: #fff
  z-index: 50
  width: 100%
  text-align: right
  height: 150px
  animation-name: moveheader
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms

  -webkit-animation-name: moveheader
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms


@keyframes moveheader
  0%
    top: -150px
  100%
    top: 0

.menu
  height: 150px
  padding: 40px 65px
  @media(max-width: 600px)
    padding: 40px 15px

.logo
  position: absolute
  display: block
  top: 40px
  height: 70px
  cursor: pointer
  z-index: 201

.menu-list
  width: auto
  position: relative
  text-align: right
  height: 70px
  padding: 15px 0
  display: block
  a
    cursor: pointer
    text-align: center
    color: #4a4a4a
    width: 90px
    padding: 10px 0
    margin-left: 20px
    font-size: 17px
    line-height: 20px
    text-decoration: none !important
    &:hover
      color: #4a4a4a

  a:nth-child(4)
    width: 180px
    padding: 10px
    font-size: 17px
    line-height: 20px
    color: #4a4a4a
    border: 1px solid #4a4a4a
    &:hover
      color: #fff

  @media(max-width:860px)
    position: fixed
    text-align: center
    background: #FFF
    width: 100%
    height: 100vh
    top: 150px
    left: 0
    display: none
    padding: 0
    a
      width: 100%
      margin: 0
      font-size: 20px
      padding: 30px
    a:nth-child(4)
      display: inline-block
      font-size: 20px
      width: 100%
      border: 0
      padding: 30px

.menu-list-next
  @extend .menu-list
  @media(max-width:860px)
    display: block

.menu-button
  width: 36px
  display: none
  position: absolute
  right: 80px
  top: 60px
  height: 36px
  background-image: url(../img/menu@2x.png)
  background-repeat: no-repeat
  cursor: pointer
  @media(max-width: 600px)
    right: 30px
  @media(max-width:860px)
    display: block

.close
  background-image: url(../img/group@2x.png)


.video-wrapper
  position: relative
  min-height: 100vh
video
  position: absolute
  padding: 0 0
  min-height: 100%
  min-width: 100%
  left: 50%
  transform: translateX(-50%)

.video-wrapper-first
  position: relative
  min-height: 100vh
  animation-name: fade-in
  opacity: 0
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  animation-delay: 1000ms
  animation-fill-mode : forwards
  -webkit-animation-name: fade-in
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  -webkit-animation-delay: 1000ms
  -webkit-animation-fill-mode : forwards
  video
    position: absolute
    padding: 0 0
    min-height: 100vh
    min-width: 100vw
    left: 50%
    transform: translateX(-50%)

.video-wrapper-next
  position: relative
  min-height: 100vh
  video
    position: absolute
    height: 100%
    width: 100%
    left: 50%
    object-fit: cover
    overflow: hidden
    transform: translateX(-50%)
    animation-name: movevideo
    animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
    animation-duration: 500ms
    -webkit-animation-name: movevideo
    -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
    -webkit-animation-duration: 500ms


@keyframes movevideo
  0%
    padding: 0 0px
  100%
    padding: 0 80px

.cloth-left
  position: absolute
  background-color: #FFF
  width: 80px
  height: 100vh
  z-index: 50
  left: -80px

.cloth-right
  @extend .cloth-left
  right: -80px


.cloth-left-on
  position: absolute
  background-color: #FFF
  width: 80px
  height: 100vh
  z-index: 50
  left: 0px
  animation-name: movecloth-left
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  -webkit-animation-name: movecloth-left
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  @media(max-width: 600px)
    width: 30px

.cloth-right-on
  position: absolute
  background-color: #FFF
  width: 80px
  height: 100vh
  z-index: 50
  right: 0px
  animation-name: movecloth-right
  animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  animation-duration: 500ms
  -webkit-animation-name: movecloth-right
  -webkit-animation-timing-function: cubic-bezier(0.947, 0, 1, 1)
  -webkit-animation-duration: 500ms
  @media(max-width: 600px)
    width: 30px

@keyframes movecloth-left
  0%
    left: -80px
  100%
    left: 0

@keyframes movecloth-right
  0%
    right : -80px
  100%
    right: 0

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1
