.header-next-land
  position: absolute
  top: 0px
  background-color: #fff
  z-index: 51
  width: 100%
  text-align: right
  height: 160px


.cloth-left-on-land
  position: absolute
  background-color: #FFF
  width: 80px
  height: 100vh
  z-index: 50
  left: 0px
  @media(max-width: 600px)
    width: 30px

.cloth-right-on-land
  position: absolute
  background-color: #FFF
  width: 80px
  height: 100vh
  z-index: 50
  right: 0px

.contant-next-land
  height: 500px
  width: 100%
  background-color: #fff
  position: absolute
  bottom: -300px
  padding: 0 80px
